{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <h1 class="card-header text-center">
        📚️Что нужно знать 💻
      </h1>
      <div class="card-body">
        <p>
          Для разработки веб-сайтов на Django важно иметь знания в
          Python и SQL. Чтобы успешно писать код на Django, следует иметь
          навыки работы с HTML, CSS и JavaScript. Вот перечень технологий,
          которыми нужно владеть для разработки веб-сайтов на Django
          с использованием Python и SQL:
          <ul>
            <li>
              Python
            </li>
            <li>
              Django
            </li>
            <li>
              SQL (Structured Query Language)
            </li>
            <li>
              HTML (HyperText Markup Language)
            </li>
            <li>
              CSS (Cascading Style Sheets)
            </li>
            <li>
              JavaScript
            </li>
      </ul>
        Эти технологии помогут вам успешно разрабатывать веб-сайты на Django, а также улучшат ваше понимание веб-технологий в целом.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}