{% extends 'base.html' %}
{% block title %}
Записи сообщества - {{ group.title }}
{% endblock %}
{% block content %}
{% load thumbnail %}
<div class="container py-5">
  <h1>✍️ Записи сообщества
    #️⃣<span style="color:red">{{ group.title }}</span></h1>
  <p>{{ group.description }}</p>
  {% for post in page_obj %}
  <article>
    <ul>
      <li>
        👤 Автор: {{ post.author.get_full_name }}
      </li>
      <li>
        📅 Дата публикации: {{ post.pub_date }}
      </li>
    </ul>
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
    <p>
      {{ post.text }}
    </p>
    <a class="btn btn-outline-primary"
       href="{% url 'posts:post_detail' post.id %}">
      подробная информация</a>
    <a class="btn btn-outline-primary"
       href="{% url 'posts:profile' post.author.username %}">
      все посты пользователя #{{ post.author.get_full_name }}</a>
  </article>
  {% if not forloop.last %}
  <hr>
  {% endif %}
  {% endfor %}
</div>
<div class="container-fluid d-flex justify-content-center align-items-center">
  {% include 'posts/includes/paginator.html' %}
</div>
{% endblock %}